:root{
    --navy: #002d5f;
    --blue: #406ab6;
    --green: #30a46e;
    --white: #fff;
    --offwhite: #f7f7f7;
    --whitehousebrown: #d44622;
    --waltonred: #bf200b;
    --open-sans: 'Open Sans', sans-serif;
    --archivo: 'Archivo', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.title-container{
    background-image: url("img/walton.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--archivo);
    font-size: 35pt;
    color: var(--navy);
    display: grid;
    grid-template-rows: 65px;
    grid-template-columns: 150px auto;
    grid-template-areas: 
        "title-logo title-text"
        "title-logo title-subtext";
    align-items: center;
    
}
.title-logo{
    max-height: 130px; 
    grid-area: title-logo;
    position: relative;
    left: 4px;
    z-index: 3;
    opacity: 100%;
}

.title-text{
    grid-area: title-text;
    font-weight: 600;
    position: relative;
    top: 10px;
}
.title-subtext{
    grid-area: title-subtext;
    font-family: var(--open-sans);
    font-size: 20pt;
    font-weight: 600;
    position: relative;
    left: 120px;
    bottom: 8px;
    width: fit-content;
}
.desc {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 11px;
    width: 95%;
    background-color: var(--white);
    font-family: var(--open-sans);
    font-size: 12pt;
    font-weight: 600;
    color: var(--navy);
}

.cards-container {
    display: grid;
    grid-template-rows: repeat(2, 205px);
    grid-template-columns: repeat(3, 305px);
    grid-template-areas: "banking broadcast compsci"
                         "engineering design med";
    margin: auto;
    justify-content: center;
    width: 72%;
    overflow: hidden;
}

.cards {
    margin: 5px;
    overflow: hidden;
    max-height: 195px;
    background-color: var(--white);
    
}

.banking{
    grid-area: banking;
}

.broadcast{
    grid-area: broadcast;
}

.compsci{
    grid-area: compsci;
}

.engineering{
    grid-area: engineering;
}

.graphic-design{
    grid-area: design;
}

.physical-med{
    grid-area: med;
}

.cards img {
    height: 195px;
    margin-bottom: 5px;
    width: 295px;
    transition: all 1s ease;
}

.label {
    background-color: var(--whitehousebrown);
    color: var(--white);
    position: relative;
    top: -39px;
    height: 30px;
    align-self: end;
    z-index: 1;
    font-family: var(--open-sans);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}
.cards:hover .label{
    background-color: var(--waltonred);
}

.cards:hover img{
    transform: scale(1.2);
    opacity: 50%;
}


a {
    display: block;
    text-decoration: none;
}


.title-link:hover {
    text-decoration: underline;
}
.title-address{
    grid-area: title-address;
    font-family: var(--open-sans);
    font-size: 12pt;
    text-align: right;
    padding-right: 5px;
}
.title-link{
    grid-area: title-link;
    font-family: var(--open-sans);
    font-size: 12pt;
    border-left: thin solid var(--navy);
    padding-left: 5px;
}
.footer{
    color: var(--navy);
    background-color: var(--offwhite);
    display: grid;
    grid-template-areas: "title-address title-link";
}