:root{
    --navy: #002d5f;
    --blue: #406ab6;
    --green: #30a46e;
    --white: #fff;
    --offwhite: #f7f7f7;
    --whitehousebrown: #cf4e2d;
    --waltonred: #bf200b;
    --open-sans: 'Open Sans', sans-serif;
    --archivo: 'Archivo', sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 140px auto;
    /* grid-template-rows: ; */
    grid-template-areas: 
        "heading heading"
        "navigation content"
    ;
}
.heading{
    grid-area: heading;
    background-color: var(--offwhite);
    font-family: var(--archivo);
    font-size: 35pt;
    color: var(--navy);
    display: grid;
    grid-template-rows: 65px;
    grid-template-columns: 150px auto 150px;
    grid-template-areas: 
        "logo walton title-address"
        "logo title-subtext title-link";
    align-items: center;
    
}
.logo{
    max-height: 130px;
    /* width: 375px; */
    grid-area: logo;
}

.walton{
    grid-area: walton;
    font-weight: 600;
}
.title-subtext{
    grid-area: title-subtext;
    font-family: var(--open-sans);
    font-size: 20pt;
    font-weight: 600;
}
.title-address{
    grid-area: title-address;
    font-family: var(--open-sans);
    font-size: 12pt;
    
}
.title-link{
    grid-area: title-link;
    font-family: var(--open-sans);
    font-size: 12pt;
    
}
.navigation{
    grid-area: navigation;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--open-sans);
    font-weight: 600;
    font-size: 11pt;
    text-align: center;
    
}
.navButton{
    padding: 20px;
}
.navButton:hover{
    background-color: var(--navy);
}
.content{
    grid-area: content;
    background-color: var(--white);
    font-family: var(--open-sans);
    font-size: 13pt;
    color: var(--navy);
}
.header{
    background: linear-gradient(to right,var(--waltonred) 0%, var(--white) 100%);
    color: var(--white);
    font-weight: 1000;
    padding: 8px;
}
.information{
    margin: 20px;
}
.desc{
    font-size: 12pt;
}
.instructor{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: 
        "profile name"
        "profile contact"
    ;
}
.profile{
    max-width: 100px;
    grid-area: profile;
    margin-top: 8px;
    margin-bottom: 13px;
}
.instructorName{
    margin-left: 8px;
    margin-top: 7px;
    grid-area: name;
}

.instructorContact{
    margin-left: 8px;
    margin-top: 7px;
    position: relative;
    top: -23px;
    grid-area: contact;
    margin-bottom: 4px;
}
.class{
    margin: 5px;
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-areas: 
        "plus className"
        "details details"
    ;
    font-weight: 600;
}
.plus{
    grid-area: plus;
    background-color: var(--whitehousebrown);
    color: var(--white);
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    justify-content: center;
    line-height: 24px;
    margin-bottom: 8px;
    
}
.class:hover .plus{
    background-color: var(--waltonred);
    cursor: pointer;
}
.className{
    grid-area: className;
    text-decoration: underline;
    color: var(--waltonred);
    margin-left: 5px;
    margin-bottom: 8px;
}

.class:hover .className {
    color: var(--navy);
    cursor: pointer;
}

.details{
    grid-area: details;
    display: none;
    font-size: 12pt;
    font-weight: 400;
    margin-left: 34px;
}
.testimonial{
    font-style: italic;
}
.img-slider{
    background-color: var(--offwhite);
    max-width: 640px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 360px auto;
    grid-template-areas:
    "pic"
    "cption"
    ;
    gap: 5px;
}
.img-slider img{
    grid-area: pic
}
.caption{
    grid-area: cption;
    font-size: 9pt;
}
a {
    display: block;
    text-decoration: none;
    color: white;
}

.logo {
    position: relative;
    left: 4px;
}

.walton {
    position: relative;
    top: 10px;
}

.title-subtext {
    position: relative;
    bottom: 8px;
}

.title-address {
    position: relative;
    top: 18px;
}

.title-link     {
    position: relative;
    bottom: 12px;
    color: var(--navy);
}

.title-link:hover {
    text-decoration: underline;
}

.video {
   text-align: center;
   margin-top: 8px;
}